* {
    background-color: #000;
    color: green;
}

#playerForm {
    display: flex;
    justify-content: center;
    align-self: start;
    margin: 0 auto;
    padding: 0 auto;
}

.hidden {
    display: none;
  }

  
  #terminal {
    width: 1300px;
    height: 550px;
    background-color: #000;
    color: #fff;
    font-family: monospace;
    padding: 10px;
    overflow-y: auto;
    margin: auto;
    padding: auto;
  }

  #inputCommand {
    background-color: white;
    width: 1300px;
    right:200px;
    margin-left: 70px;
  }